body {
    background-color: 405114E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    /*font-family: 'Montserrat', sans-serif;
    font-family: 'Sacramento', cursive; */
}

p {
    line-height: 2;
}

hr {
    border: 6px dotted;
    color: #66BFBF;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 562.5%;
    /*90px= 90/16==562.5 % ==5.625em &&
    16 px == 100 % == 1 em */
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bolder;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

.upper-cloud {
    position: absolute;

    right: 250px;
    top: 40px;
}

.lower-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top {
    background-color: #deedf0;
    position: relative;
    padding-top: 50px;
}

.middle {
    margin: 100px 0px;
}

.bottom {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.weight {
    font-weight: normal;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.code-photo {
    width: 25%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.chilli-photo {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.foot {
    color: white;
    font-size: 0.75rem;
    padding: 20px 0;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

/* .chilli-description{
    clear: right;
} */

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
    margin: 10px 20px;
}

a:hover {
    color: #022c26;

}